#mouse-info {
    position: fixed;
    right: 10px;
    bottom: 0px;
    word-wrap: anywhere;
    white-space: pre-wrap;
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    text-align: center;
    color: #222;
    background: #ffffff75;
}

#mouse-info:hover{
	background-color: rgba(255, 255, 255,0.9);
}